
<!-- Foot part define-->
<div class="container-fluid" >
	<div style="background-color: #ffffff; color: #222222; font-family: Montserrat, sans-serif">
		<div class="row">
			<div class="col-sm-offset-1 col-sm-10">
      
       <div class="col-sm-3">
       <img
        src="__IMG__/seneca_logo.jpg" alt="Seneca" width="200"
        height="80">
        </div>
        <div class="col-sm-3">
       <img
        src="__IMG__/cetennial_logo.jpg" alt="Cetennial" width="200"
        height="80">
        </div>
        <div class="col-sm-3">
          <img src="__IMG__/george_brown.png" alt="George Brown" width="200"
              height="80">
        </div>
        <div class="col-sm-3">
       <img
        src="__IMG__/hummber_logo.png" alt="Humber College" width="200"
        height="80">
        </div>
    </div>
  </div>
	</div>

</div>