
<!-- Foot part define-->
<div class="container-fluid" style="background-color: #FF6100; color: #333333; font-family: Montserrat, sans-serif">
		<div class="row">
			<div class="col-sm-offset-1 col-sm-10" 
			style="padding: 5px 5px;">
      
       <div class="col-sm-4">
       <img
        src="__IMG__/iccrc_logo.png" alt="ICCRC" width="300"
        height="100">
        </div>
        <div class="col-sm-4">
        <br>
          <div class="row" >
          <div class="col-sm-6">
            <p> 邮箱: info@hsvisa.ca</p>
          </div>
          <div class="col-sm-6">  
            <p> 微信： yonge5000</p>
          </div> 
          </div>
          <div class="row" >
            <div class="col-sm-9">
              <p> 电话： （647）717-6789 （加拿大）</p>
            </div> 
          </div>
        </div>
        <div class="col-sm-4">
          <img src="__IMG__/ivy_wechat_logo.jpg" alt="wechat_logo" width="100"
              height="100">
        </div>
       
    </div>
  </div>
	

</div>