
<!-- Foot part define-->
<div class="container-fluid" style="padding: 0px 0px;">
	<div
		style="background-color: #ca856a; color: #222222; font-family: Montserrat, sans-serif">
		<br> <br>
		
		<br> <br>

		<div class="row">
			<div class="col-sm-offset-1 col-sm-10">
      
       <div class="col-sm-3">
          <div class="panel panel-default" style="font-size: 25px">
          <div class="panel-header text-center">
              <p class="text-center"
                style="font-size: 25px; font-weight: bold;">公司地址</p>
            </div>
            <div class="panel-body" style="height: 250px">
              <p class="text-left"
                style="font-size: 20px; font-weight: bold;">加拿大多伦多总部地址</p>
                <p class="text-center"
                style="font-size: 20px; font-weight: bold;">1101-4711 Yonge Street, North York, Ontario </p>
               
             </div>
            
          </div>
        </div>
        <div class="col-sm-3">
          <div class="panel panel-default" style="font-size: 25px">
          <div class="panel-header text-center">
              <p class="text-center"
                style="font-size: 25px; font-weight: bold;">联系方式</p>
            </div>
            <div class="panel-body" style="height: 250px">
              <p class="text-left"
                style="font-size: 20px; font-weight: bold;">多伦多总部：</p>
                <p class="text-left"
                style="font-size: 15px; font-weight: bold;">电话：（647） 717-6789</p>
                <p class="text-left"
                style="font-size: 15px; font-weight: bold;">企业邮箱: info@hsxxxx.com</p>
                <p class="text-left"
                style="font-size: 15px; font-weight: bold;">企业微信：yonge5000</p>
               
            </div>
            
          </div>
        </div>

        <div class="col-sm-3">
          <div class="panel panel-default" style="font-size: 25px">
          <div class="panel-header text-center">
              <p class="text-center"
                style="font-size: 25px; font-weight: bold;">营业时间</p>
            </div>
            <div class="panel-body" style="height: 250px">
              <p class="text-center"
                style="font-size: 10px; font-weight: bold;">周一 09:30 am to 6:30 pm</p>
              <p class="text-center"
                style="font-size: 10px; font-weight: bold;">周二 10:00 am to 6:30 pm</p>
              <p class="text-center"
                style="font-size: 10px; font-weight: bold;">周三 10:00 am to 6:30 pm</p>
              <p class="text-center"
                style="font-size: 10px; font-weight: bold;">周四 10:00 am to 6:30 pm</p>
              <p class="text-center"
                style="font-size: 10px; font-weight: bold;">周五 10:00 am to 6:00 pm</p>
              <p class="text-center"
                style="font-size: 10px; font-weight: bold;">周六 10:00 am to 5:00 pm</p>
              <p class="text-center"
                style="font-size: 10px; font-weight: bold;">周日 --------- 可预约 --------</p>
            </div>
            
          </div>
        </div>


        <div class="col-sm-3">
        <div class="panel panel-default" style="font-size: 25px">
          <div class="panel-header text-center">
            <p class="text-center"
                style="font-size: 25px; font-weight: bold;">关于宏盛</p>
            </div>
            <div class="panel-body" style="height: 250px">
              <p class="text-center" style="font-size: 20px; font-weight: bold;">
                <a href="{:U('Index/about_us')}">关于我们</a>
              </p>
              <p class="text-center" style="font-size: 20px; font-weight: bold;">预约服务</p>
              <p class="text-center" style="font-size: 20px; font-weight: bold;">企业招聘</p>
              <p class="text-center" style="font-size: 20px; font-weight: bold;">合作洽谈</p>
              <p class="text-center" style="font-size: 20px; font-weight: bold;">员工通道</p>
            </div>
            
          </div>
        </div>
        
      
    </div>
		
			
		
		</div>
		<br> <br>
		<div class="row" style="margin-bottom: 1px;">
			<div class="col-sm-1"></div>
			<div class="col-sm-6">
				<p
					style="font-size: 24px; text-transform: uppercase; font-weight: bold; color: #D3D3D3;">宏盛留学版权所有 ©2007 -- 2017</p>
			</div>
		</div>
	</div>

</div>