<nav class="navbar navbar-default navbar-fixed-top">
	<div class="container">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse"
				data-target="#myNavbar">
				<span class="icon-bar"></span> <span class="icon-bar"></span> <span
					class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="{:U('Index/index')}"> <img
				src="__IMG__/ic_title_1.png" alt="Company Logo" width="200"
				height="50"></a>
		</div>
		<div class="collapse navbar-collapse" id="myNavbar">
			<ul class="nav navbar-nav navbar-right">
				<li><a href="#home">主页</a></li>
				<li><a href="#services">文书服务</a></li>
				<li><a href="#services">学校申请</a></li>
				<li><a href="#features">签证申请</a></li>
				<li><a href="#solution">后续服务</a></li>
				<li><a href="#solution">移民申请</a></li>
				<li><a href="#contact">学校公略</a></li>
				<li><a href="#contact">关于我们</a></li>
				<li><a href="#contact">联系我们</a></li>

			</ul>
		</div>
	</div>
</nav>