<div class="row" >
  <form class="form-horizontal" id="student_general_contact_msg_form"
					name="student_general_contact_msg_form" method="post" action="__SELF__">
    <div class="form-group">
      <div class="col-sm-offset-1 col-sm-10">
        <input type="text" class="form-control"
								id="student_general_contact_name" name="student_general_contact_name"
								placeholder="您的全名 Your Full Name">
			</div>
    </div>
    
    <div class="form-group">
      <div class="col-sm-offset-1 col-sm-10">
        <input type="email" class="form-control"
								id="student_general_contact_email" name="student_general_contact_email"
								placeholder="您的邮箱 Your Email">
    </div>
    </div>
					
    <div class="form-group">
      <div class="col-sm-offset-1 col-sm-10">
        <input type="email" class="form-control"
                id="student_general_contact_phone" name="student_general_contact_phone"
                placeholder="您的电话 Your Mobile Phone">
      </div>
    </div>			
    
		<div class="form-group">
      <div class="col-sm-offset-1 col-sm-10">
        <input type="email" class="form-control"
                id="student_general_contact_wechat" name="student_general_contact_wechat"
                placeholder="您的微信 Your Wechat">
        </div>
    </div>      
    
    <div class="form-group">
      <div class="col-sm-offset-1 col-sm-10">
      <textarea class="form-control" id="student_general_contact_msg"
                name="student_general_contact_msg"
                placeholder="您的问题 Your question" rows="5"></textarea>
        </div>
    </div>      

    <div class="form-group">
      <div class="col-sm-offset-1 col-sm-10">
        <button type="button" id="button_student_general_enquiry_msg_form"
            class="demo_button_style">提交</button>
      </div>
    </div>
  </form>

		
	</div>