<form class="form-inline" id="subscribe_info_form"
	name="subscribe_info_form" method="post" action="__SELF__">
	
	<div class="form-group">
    <label >订阅宏盛分享的宝贵留学经验： </label>
  </div>
	
	<div class="form-group">
		<label for="subscribe_name"></label> <input type="text"
			class="form-control" id="subscribe_name" placeholder="您的名子">
	</div>
	<div class="form-group">
		<label for="subscribe_email"></label> <input type="email"
			class="form-control" id="subscribe_email" placeholder="您的常用邮箱">
	</div>
		<button type="submit" class="demo_button_style"
		id="button_get_more_info">立刻订阅</button>
</form>