
<!-- Foot part define-->
<div class="container-fluid" >
  <div style="background-color: #ffffff; color: #222222; font-family: Montserrat, sans-serif">
    <div class="row">
      <div class="col-sm-offset-1 col-sm-10">
      
       <div class="col-sm-3">
       <img
        src="__IMG__/brock_u_logo.png" alt="Brock" width="200"
        height="80">
        </div>
        <div class="col-sm-3">
       <img
        src="__IMG__/UofT_Logo_svg.png" alt="U of Toronto" width="200"
        height="80">
        </div>
        <div class="col-sm-3">
          <img src="__IMG__/york_u_logo.png" alt="York" width="200"
              height="80">
        </div>
        <div class="col-sm-3">
       <img
        src="__IMG__/uofWaterloo_logo.png" alt="U of Waterloo" width="200"
        height="80">
        </div>
    </div>
  </div>
  </div>

</div>