<!DOCTYPE html>
<html lang="en">
<head>
<TITLE>Neo Reward System</TITLE>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<!--Bootstrap CSS definition-->
<link rel="stylesheet"
  href="http://maxcdn.bootstrapcdn.bootcss.com/bootstrap/3.3.6/css/bootstrap.min.css">
<script
  src="https://ajax.googleapis.bootcss.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
<script
  src="http://maxcdn.bootstrapcdn.bootcss.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<link href="http://fonts.googleapis.com/css?family=Montserrat"
  rel="stylesheet" type="text/css">
<link href="http://fonts.googleapis.com/css?family=Lato"
  rel="stylesheet" type="text/css">




<!-- main page style CSS definition -->
<link rel="stylesheet" href="__CSS__/mainpage.css" type="text/css">
<!-- Script files definition -->
<script type="text/javascript" src="__JS__/form_utilities.js"></script>
<script src="https://use.fontawesome.com/12eb9f213d.js"></script>

<script type="text/javascript">
      jQuery(function($)
      {
        <!-- Process the get in touch form -->
        $("#button_general_enquiry_msg_form").click(function ()
        {
          var objArray = [];　 // Create a new array
          objArray["form"] = document.getElementById('general_enquiry_msg_form');
          objArray["name"] = document.getElementById('general_enquiry_name');
          objArray["email"] = document.getElementById('general_enquiry_email');
          objArray["msg"] = document.getElementById('general_enquiry_fm_message');
          objArray["action"] = "{:U('Index/getInTouchProc')}";
          generalEnquiryFormProcess(objArray);
        });
        
        <!-- Process the get more info form -->
        $("#button_get_more_info").click(function ()
        {
          var objArray = [];　 // Create a new array
          objArray["form"] = document.getElementById('get_more_info_form');
          objArray["name"] = document.getElementById('more_name');
          objArray["email"] = document.getElementById('more_email');
          objArray["phone"] = document.getElementById('more_phone');
          objArray["company_name"] = document.getElementById('more_company_name');
          objArray["action"] = "{:U('Index/getMoreServiceInfoProc')}";
          getMoreInfoFormProcess(objArray);
          
          
      
          
          
          
        });
        
      });
    </script>




<style>
.fa-vc {
  line-height: inherit !important;
}
</style>


</head>

<body id="mainPage" data-spy="scroll" data-target=".navbar"
  data-offset="60">

  <!--Top part define-->
  <include file="Public:main_header_sign_out" />

  <!--why ontario college-->
  <div class="container-fluid text-center"
    style="background-color: #ca856a; color: #fff; font-family: Montserrat, sans-serif; padding: 100px 25px;">
    
    <div class="row ">
 <div class=" col-sm-12">
    <div class="panel panel-default" style="font-size: 25px">
    
     <div class="panel-header text-center" style="background-color: #eeeeee;color: #222;">
      <p class="text-center" style="font-size: 25px; font-weight: bold;">
          加拿大大学本科留学6个优势 </p>
    </div>

      <div class="panel-body" style="height: 450px; text-align: left;background-color: #eeeeee;color: #222;">
        <p style="font-size: 20px;">
                加拿大作为工业强国，科技和教育水平居世界前列，是七大工业国众教育投资比例最高的。由于全国仅有五十余所大学且教育资源集中，因此高等教育水平极高，学历的“含金量”在全世界范围内名列前茅。大学区周边普遍治安良好，适合学生居住并潜心治学。

        加拿大大学的本科学习费用在每年$20,000~$3,5000加币（￥10~￥19万人民币）之间。相较于澳、英、美等国便宜很多，同时提供学生合法打工、带薪实习机会。

        </p>
        
       <p class="text-center" style="font-size: 20px; font-weight: bold; ">
            “含金量”高， 学费合理
        </p>
        <p class="text-center" style="font-size: 20px; font-weight: bold; ">
             本科提供多重录取</p>
        
        <p class="text-center" style="font-size: 20px; font-weight: bold; ">
                  合法打工，带薪实习
        </p>
        <p class="text-center" style="font-size: 20px; font-weight: bold; ">
                转学，换专业自主性强
        </p>
        
        <p class="text-center" style="font-size: 20px; font-weight: bold; ">
                 留学移民一步到位
        </p>
        <p class="text-center" style="font-size: 20px; font-weight: bold; ">
                 宽进严出，多重选择
        </p>
        
      </div>
            
    </div>
     </div>
    </div>
    
  </div>

  <!--application material-->
  <div class="container-fluid text-center"
    style="background-color: #ca856a; color: #fff; font-family: Montserrat, sans-serif; ">
    
    <div class="row ">
    <div class=" col-sm-12">
      <p class="text-center" style="font-size: 25px; font-weight: bold;">
            加拿大大学本科留学其他优势 </p>
 
    <div class="panel panel-default； col-sm-offset-1 col-sm-4" style="font-size: 25px">
    
     <div class="panel-header text-center" style="background-color: #eeeeee;color: #222;">
      <p class="text-center" style="font-size: 25px; font-weight: bold;">
            对12年级成绩和雅思要求基本不变 </p>
    </div>

    <div class="panel-body" style="height: 500px; text-align: left;background-color: #eeeeee;color: #222;">
    <p class="text-center" style="font-size: 25px; ">
           随着加拿大本科申请人数的不断攀升，国际学生招生名额随之逐年增加的情况下，
           加拿大本科申请对于12年级平均成绩和雅思成绩的要求并未明显改变。
          基本遵循以下原则：12年级平均成绩85%以上可以申请医博类大学中排名较高的院校，
      80%以上可以对其他院校进行尝试；12年级平均成绩70%以上可以申请综合类大学（滑铁卢大学、约克大学除外，
          普遍要求在80%左右）；12年级平均成绩60%以上可以申请基础类大学。针对雅思成绩，本科“直录”要求在6.5分或以上，
          每个学校对于单科要求不同。  </p>
    </div>
            
    </div>
      <div class="panel panel-default；  col-sm-offset-1 col-sm-4" style="font-size: 25px">
    
     <div class="panel-header text-center" style="background-color: #eeeeee;color: #222;">
      <p class="text-center" style="font-size: 25px; font-weight: bold;">
            “个人简述”可弥补部分高中成绩不足 </p>
    </div>

    <div class="panel-body" style="height: 500px; text-align: left;background-color: #eeeeee;color: #222;">
    <p class="text-center" style="font-size: 25px; ">
           在加拿大大学本科的申请过程中，对于语言成绩的要求相对比较“绝对”；
           但是对于高中学术成绩的要求并非“无可变通”。如果在申请过程中能够转学比较“出彩儿”的个人陈述，
           或者在视频面试（Vedio Essay）的表现中“创新而不乏味”。
           那么，这些因素可以在高中12年级成绩并不十分高的情况下帮助你申请到加拿大的名校。
           例如在2017年9月的入学申请中，我们就处理过多个12年级平均成绩不足85%（最低的之后78%），
           但成功申请并获取多伦多大学OFFER的案例。 </p>
    </div>
            
    </div>
    
     </div>
    </div>
    
      <div class="row ">
    <div class=" col-sm-12">
     
 
    <div class="panel panel-default；  col-sm-4" style="font-size: 25px">
    
     <div class="panel-header text-center" style="background-color: #eeeeee;color: #222;">
      <p class="text-center" style="font-size: 25px; font-weight: bold;">
            直接申请 </p>
    </div>

    <div class="panel-body" style="height: 500px; text-align: left;background-color: #eeeeee;color: #222;">
      <p class="text-left" style="font-size: 25px; ">
              适合人群：语言成绩优秀、具备较好的高中学术背景；
      </p>
      
      <p class="text-left" style="font-size: 25px; ">
              申请条件：高中毕业、IELTS 6.5 以上、部分学校或专业要求提供辅助材料；
       </p>
      
      <p class="text-left" style="font-size: 25px; ">
              直接申请的优势：申请效率高，免去了读语言的时间和费用，快速进入本科学习
      </p>
    </div>
            
    </div>
    <div class="panel panel-default；  col-sm-4" style="font-size: 25px">
    
     <div class="panel-header text-center" style="background-color: #eeeeee;color: #222;">
      <p class="text-center" style="font-size: 25px; font-weight: bold;">
            大学预科 </p>
    </div>

    <div class="panel-body" style="height: 500px; text-align: left;background-color: #eeeeee;color: #222;">
      <p class="text-left" style="font-size: 25px; ">
           适合人群：语言成绩未达到学校要求或学术背景比较薄弱，但想申请更好学校的本科；
          </p>
            
      <p class="text-left" style="font-size: 25px; ">
            申请条件：高中毕业、12年级平均成绩75%以上、雅思成绩不低于总分5.5； </p>      
      <p class="text-left" style="font-size: 25px; ">
            申请名校的重要通道，完成预科课程可获得相应学分，可申请众多加拿大名校。 </p>    
    </div>
            
    </div>
    
     <div class="panel panel-default；  col-sm-4" style="font-size: 25px">
    
     <div class="panel-header text-center" style="background-color: #eeeeee;color: #222;">
      <p class="text-center" style="font-size: 25px; font-weight: bold;">
           本科“双录取” </p>
    </div>

    <div class="panel-body" style="height: 500px; text-align: left;background-color: #eeeeee;color: #222;">
    <p class="text-left" style="font-size: 25px; ">
           适合人群：学生学术条件已经达到学校的录取标准，但无语言成绩，或语言成绩未达到入学标准；
            申请条件：高中毕业且12年级平均成绩达到申请院校的录取标准；雅思成绩不低于总分5.0；
            双录取优势：语言成绩不足也可以先赴加留学，节省国内参加语言考试的时间成本；学生能提前适应加拿大学习环境，签证更加容易通过。
    </p>
    </div>
            
    </div>
    
    
    
     </div>
    </div>
    
    
    
  </div>

<!--Hongsheng's help-->
  <div class="container-fluid text-center"
    style="background-color: #ca856a; color: #fff; font-family: Montserrat, sans-serif; ">
    
    <div class="row;">

    <div class=" col-sm-12">
      <div class="panel panel-default; " style="font-size: 25px">
    
        <div class="panel-header text-center" style="background-color: #eeeeee;color: #222;">
          <p class="text-center" style="font-size: 25px; font-weight: bold;">
                      宏盛加拿大留学规划师能帮您做什么 </p>
        </div>

        <div class="panel-body; "  style="height: 450px; text-align: left;background-color: #eeeeee;color: #222;">
        <table class="table; col-sm-offset-2 col-sm-8" >
          <tbody>
            <tr>
              <td style="vertical-align: middle; padding: 10px; background-color: #3350ff; color: #dddddd;" >
                              根据个人实际情况进行“院校|专业|项目选择”</td>
            </tr>
            <tr>
             <td style="vertical-align: middle; padding: 10px; background-color: #ffd733; color: #222222;" >
                        制定“本科项目申请策略”，指导进行材料准备</td>
            </tr>
            <tr>
           
            <td style="vertical-align: middle; padding: 10px; background-color: #3350ff; color: #dddddd;" >
                     填写/整理繁琐的申请文件，制作“申请材料包”</td>
            </tr>
            
            <tr>
           
            <td style="vertical-align: middle; padding: 10px; background-color: #ffd733; color: #222222;">
                   润色个人简述、申请论文等文案、准备视频面试</td>
            </tr>
            
            <tr>
              <td style="vertical-align: middle; padding: 10px; background-color: #3350ff; color: #dddddd;">
                           跟催申请进程，随时补交文件，第一时间获取OFFER/td>
            </tr>
            
            <tr>
              <td style="vertical-align: middle; padding: 10px; background-color: #ffd733; color: #222222;" >
                           协助进行OFFER确认，最终确定“最适读院校|专业|项目”</td>
            </tr>
            
          </tbody>
        </table>
      
      </div>
      
       <p class="text-center" style="font-size: 20px; font-weight: bold;background-color: #3350ff; color: #dddddd; ">
             申请大学请联系我们：
             
       <include file="Public:student_general_contact_msg_form" />      
             
             
    </div>  
    
    
        
  </div>
    </div>
  </div>

    


  <!-- Foot part define-->
  <include file="Public:main_footer" />


</body>
</html>
